@charset "utf-8";
/* CSS reset */

body {font:13px/18px Arial, Helvetica, sans-serif; color:#4d4d4d; margin:0; padding:0; background: #f5f5f5}

a:link, a:visited {	color:#0a51a1; text-decoration:none; outline:none;}
a:active, a:hover, a.active, .navsub a.active { text-decoration: none; outline:none; color:#4d4d4d}

input, select { outline:none; height:px; padding:4px; border:1px solid #ccc;}
form,  legend, h1, h2, h3, h4, h5, h6 { margin:0; padding:0; list-style:none}
ul { list-style:none; margin:0px; padding:0;}
ul ul, object { padding:0px; margin:0px;}
legend { font-size:12px; font-weight:bold; color:#003399;}
fieldset { border:1px solid #c6d7ef; margin-top:20px; padding:10px;}
.bnt {margin:5px 0;}
.bnt:FOCUS{ background:#0b6cca}
.bnt a{ background:#014C9A; color:#fff; padding:7px 10px; font-size:14px;}
.bnt a:hover { background:#0b6cca}
.bntInput{ background:#014C9A; color:#fff; padding:5px 10px; font-size:14px; border: 0px solid #ccc;}
.bntInput:hover { background:#0b6cca; cursor: pointer;}

.formButton{ background:#014C9A; color:#fff; padding:7px 10px; font-size:14px; border: none;  font-size: 13px;}
.formButton:hover { background:#0b6cca; border: none;  font-size: 13px; cursor: pointer;}
.f_left {
	float: left;
	margin-left: 0px;
}
.f_right{
	float: right;
}
.clr{clear: both;}
table { border-collapse: collapse; border-spacing:0px; font-size:13px/18px; font-family:Arial, Helvetica, sans-serif; margin-bottom:10px;}
td, th { border-spacing:0px; border-collapse: collapse; line-height:18px;}
  
.mainpage {
	width:990px;
	margin:0 auto;
	position:relative }

.navigation {
	height:48px;
	position:relative;
	clear: both;
	display: block;background:url(../images/navigation_bg.png) repeat-x;
	margin-bottom:5px;}
	
.navigation li {
	display: inline;
	float: left;}
.navigation li a {
	display: block;
	height: 48px;
	color:#fff;
	line-height:48px;
	text-align:center; 
	font-size:14px;
	padding:0 25px;
	border-right:1px solid #05325d;
	/*text-shadow:1px 0px 1px #333;*/}
.navigation li a.last { border-right:none}
.navigation li a.active, .navigation li a:hover { background:#05325d;}
.navigation li a:hover { background:#05325d; color: red;}
.navigation li.domain { color:#fff; font-size:18px; font-weight:normal; float:right; line-height:48px; }

.maincontent {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d7d7d7;
	background:#fff;
	margin: 10px 0;
    padding: 15px 20px;
	
}
h2 { 
	font-weight:lighter;
	font-size:30px;
	border-bottom:1px solid #d7d7d7;
	line-height:40px;
	margin-bottom:10px;
	margin-bottom:5px;
	color: #0a51a1;
	}
h3 { 
	font-weight:lighter;
	font-size:30px;
	line-height:40px;
	margin-bottom:10px;
	margin-bottom:5px;
	color: #0a51a1;
}
h4 { 
	font-size:20px;
	border-bottom:1px solid #d7d7d7;
	line-height:30px !important;
	margin-bottom:20px;}
h2.search { background:url(../images/search_ico.png) no-repeat left bottom;
	padding-left:50px;}
h2.user { background:url(../images/user_ico.png) no-repeat left bottom;
	padding-left:50px;}
	
	
.tbl_style_blue {
	border:1px solid #2D89EF;
	border-collapse:collapse;
	margin-bottom:10px;
}
.tbl_style_blue td {
	padding:3px;
	border:1px solid #d2d2d2;
}
.tbl_style_blue tr:hover {
	padding:3px;
	background-color:#E8EAEF;
}

.tbl_style_blue a:link, .tbl_style1 a:visited {text-decoration:none;}
.tbl_style_blue a:hover {text-decoration:underline;}
.tbl_style_blue th {
	background: #2D89EF;
	color: #ffffff;
	padding:4px;
	text-transform:none
}

.tbl_style_blue th a:hover {color:#000000; text-decoration:none; }
.tbl_style_blue_odd {background-color:#F9F9F9;}
.tbl_style_blue_even {background-color:#FFFFFF;}
.tbl_style_blue .fill_color1 {background: #fafdff;}
.tbl_style_blue .fill_color2 {background: #dfdfdf; color:#333333;}
.tbl_style_blue td table {margin:0px; border:none;}
.tbl_style_blue td td, .tbl_style_blue td th {padding:3px; border:none; background:none;}
.tbl_style_blue td th {font-weight:bold; color:#353535;}

/* Menu home*/
div.mainpage div.maincontent ul#tree.treeview li.open.collapsable.lastCollapsable ul li.collapsable ul li a label:hover{
	cursor:pointer;
}
div.jtable-main-container > table.jtable, div.jtable-main-container > table.jtable > thead{
	font-size: 13px !important;
}
div.jtable-main-container > table.jtable > thead th.jtable-column-header div.jtable-column-header-container{
	font-size: 13px !important;
	/* font-weight: bold; */
	height: 37px;
}
div.jtable-main-container > table.jtable > thead th.jtable-column-header-sortable div.jtable-column-header-container{
	background: rgba(0, 0, 0, 0) url("../scripts/jtable/themes/metro/column-sortable.png") no-repeat scroll right top;
}
div.jtable-main-container > table.jtable > thead th.jtable-column-header-sorted-asc div.jtable-column-header-container{
	 background: rgba(0, 0, 0, 0) url("../scripts/jtable/themes/metro/column-asc.png") no-repeat scroll right top;
}
div.jtable-main-container > table.jtable > thead th.jtable-column-header-sorted-desc div.jtable-column-header-container{
	background: rgba(0, 0, 0, 0) url("../scripts/jtable/themes/metro/column-desc.png") no-repeat scroll right top;
}
.divide_2column_permission{width:48%; padding-right:5px; float:left;}
.captcha td, th { border-spacing:0px; border-collapse: collapse; line-height:15px !important;}

.navigation_login{
	height: 48px;
	color:#fff !important;
	line-height:48px;
	text-align:center; 
	font-size:14px;
	padding: 0 10px 0 5px;
}
.navigation_login img{ padding:10px 5px 0 5px;}
.navigation_login_active{ background:#05325d;}
.navigation_login:HOVER{background:#05325d;}
.navigation_login a{ color: #fff;}
.navigation_login a:HOVER{ color: red;}
.required em{color: red;}
.form-list li label{
  display: inline-block;
  margin-bottom: 5px;
  font-weight: normal;
}
.form-list input.input-text{ width: 100%;}
.form-list li{margin-left: 20px; overflow: hidden;}
.ced_google_connect{ background: transparent url("../images/social_connect_go.png") no-repeat scroll left top !important;}
.ced-sociallogin-google-inner{ 
	background-size: 98px auto;
    float: left !important;
    height: 33px !important;
    margin-left: 0 !important;
    padding: 0 5px !important;
    text-shadow: 1px 1px #000000;
    width: 100px;
}
.group_check{padding: 10px 0 0px 0px; margin-bottom: -15px;}
.label_check{padding: 5px 5px 10px 20px;}
.line{  border-bottom: 1px solid #d7d7d7;
    font-size: 20px;
    line-height: 30px !important;
 	margin: 10px 0 10px 0;
}